*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h2{
    color: white;
    font-size: 30px;
}
.container{
    background-color: #003C43;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
}
#Cel, #Fhr, #Kel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input{
    flex: 5;
    border: none;
    outline: none;
    text-align: center;
    height: 40px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 8px 0 0 8px;
}
.icon{
    flex: 1;
    height: 40px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 2rem;
    padding: 0 5px;
    font-weight: 500;
    background: #FF9800;
    border-radius: 0 8px 8px 0;
    color: black;
}
.button{
   text-align: start;
    margin-top: 25px;
}
.button button{
    padding: 0.40rem 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    margin-left: 18px;
}
.button button:hover{
    background: black;
    color: white;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    max-width: 450px;
    background: #003333;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
    font-family: sans-serif;
    padding: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
} */

/* .Temperature-icon{
    font-size: 45px;
    color: #fff;
} */

/* h1{
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 30px;
} */

/* #celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input{
    flex: 5;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}





.icon{
    flex: 1; */
    /* height: 90px; */
    /* line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #4d5964;
    color: #fff;
    border-radius: 0 8px 8px 0;
}


.button{
    margin-top: 25px;
    text-align: center;
}


.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.button button:hover{
    background: #000;
    color: #fff;
} */